.produit-bs-border{
    border: 35px solid black;
    border-image: url("../../../../public/assets/img/border-1-fill.png");
    
    
    /* border-1 */
    border-image-slice: 230 fill;

    /* border-1.old */
    /* border-image-slice: 195 295 fill; */

    /* border-2 */
    /* border-image-slice: 100; */
}

.produit-img-border{
    border: 2.5px solid black;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25)!important;
}

.produit-bs-card{
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
}